@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-height: 785px) {
  .hide-on-height {
    display: none;
  }
}

@media screen and (max-height: 950px) {
  .map-hide-on-height {
    display: none;
  }
}

@media screen and (max-height: 620px) {
  .profile-hide-on-height {
    display: none;
  }
}

@media screen and (max-width: 610px) {
  .hide-on-width {
    display: none;
  }
}

.mapboxgl-ctrl-bottom-right {
  display: none;
}

.map-container {
  touch-action: none;
}

.full-height {
  height: 100vh;
  height: 100svh;
}

.full-heightMobileNav {
  height: 92vh;
  height: 92svh;
}

.glassmorphism-sidebar {
  backdrop-filter: blur(100px) saturate(100%) brightness(110%);
  background-color: rgba(0, 0, 0, 0.1);
}

.glassmorphism-nav {
  backdrop-filter: blur(30px) saturate(100%) brightness(75%);
  background-color: rgba(7, 12, 26, 0.568);
}

.shadowz {
  opacity: 0.85;
  box-shadow: 0 0 47px 0px #4c557093;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media (min-width: 640px) {
  .xs\:flex {
    display: flex;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('/src/assets/focus.png');
  /* background-color: #090d18; */
  background-repeat: no-repeat;
  background-size: cover;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 85%;
}
